@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');
.img-header{background-color: #395259;}
.img-menu, .img-menu > li > a{color:#fff ! important; padding: 20px 15px;letter-spacing: 2px;}
.help-block > strong {color:red;}
#footer {padding-top: 30px;padding-bottom: 30px;color: #fff;background: #2e2e2e; left:0px;bottom:0px;width:100%;position: fixed;}
.right-side{padding:0px 0px 0px;background:#FFF;background-size:cover;min-height:400px;}
.left-side{background:#FFF;background-size:cover;min-height:220px;max-width:97%;}
.right-side h3{font-size: 30px;font-weight: 700;color:#000;padding: 50px 10px 00px 50px;}
.form{padding:10px 50px 10px 50px;}
.btn-deep-purple {background: #2196f3;border-radius: 18px;padding: 5px 19px;color: #FFF;font-weight: 600; -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);}
.dropdown > a:focus{background-color: #395259 !important;}
.btn-circle {line-height: 1.428571429;}
.btn-circle.btn-xl {width: 75px;height: 70px;font-size: 40px;border-radius: 35px;}
.add-project{margin-right: 1%;}
.project-name{text-align: center;font-weight: bold;}
.send-btn{text-align: center;}
/*Hover Effects*/
.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}

.comment-bubble {
                cursor: pointer;
                position:absolute;
                z-index:2;
                background-color:#f55;
                width: 30px;
                height: 30px;
                border-radius: 50px;
                box-shadow: 1px 1px 3px #777;
                color: white;
                text-align: center;
                vertical-align: middle;
                font-weight: bold;
                padding-top: 5px;
            }

            .comment-block {
                min-width: 300px;
                max-width: 500px;
                border-radius: 10px;
                height: 160px;
                padding: 10px;
                margin-top: 10px;
                cursor: initial;
                background-color: rgba(0, 0, 0, 0.5);
                box-shadow: 2px 2px 5px #777;
            }

            .comment-block i {
                color: rgba(0, 0, 0, 0.5);
                bottom: -13.49px;
            }

            .comment-block label {
                color: white;
                float: left;

            }

            .comment-block button {
                float: right;
                margin-top: 5px;
                min-width: 80px;
                text-align: center;
            }

            .comment-block textarea {
                font-weight: 600;
                resize: none;
                margin-bottom: 5px;
            }

            .close-icon i {
                color: white;
                float: right;
                cursor: pointer;
            }

            .comment-bubble1 {
                cursor: pointer;
                position:absolute;
                z-index:2;
                background-color:#f55;
                width: 30px;
                height: 30px;
                border-radius: 50px;
                box-shadow: 1px 1px 3px #777;
                color: white;
                text-align: center;
                vertical-align: middle;
                font-weight: bold;
                padding-top: 5px;
            }


.detailBox {
    width:500px;
    height: auto;
    border:1px solid #bbb; 
    margin:10px auto;
}
.titleBox { 
    background-color:#fdfdfd; 
    padding:10px;
}
.titleBox label{ 
  color:#444; 
  margin:0; 
  display:inline-block;
}
.commentBox { 
    padding:10px;   
    border-top:1px dotted #bbb;
}
.commentAnswerBox {  
    padding:10px;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child { 
    width:80%;
}
.commentAnswerBox .form-group:first-child, .actionBox .form-group:first-child {  
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) { 
    width:18%;
}
.commentAnswerBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {  
    width:18%;
}
.actionBox .form-group * { 
    margin-top:10px; 
    width:90%;
}
.taskDescription { 
    margin-top:10px 0;
}
.commentList { 
    padding:0; 
    list-style:none; 
    min-height:100px;    
}
.commentList li { 
    margin:0;
    margin-bottom: 10px;
    border-bottom:1px dotted #bbb;
    padding-bottom: 10px;
    margin-top:10px;
}
.commentList li > div { 
    display:table-cell;
}
.commenterImage { 
    width:30px; 
    margin-right:5px; 
    height:100%; 
    float:left;
}
.commenterImage img { 
    width:100%; 
    border-radius:50%;
}
.commentText p { 
    margin:0;
}
.sub-text { 
    color:#aaa; 
    font-family:verdana; 
    font-size:12px;
}
.actionBox { 
    border-top:1px dotted #bbb; 
    padding:10px;
}




/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
